<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/flywaydb-ext-demo-cdi2/src/main/java/ascelion/flyway/demo/cdi2/Demo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ascelion.flyway.demo.cdi2.Demo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="flywaydb-ext-demo-cdi2-fw61"/>
</launchConfiguration>
